![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Aula 10 - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados ( Tuplas / Dicionários)</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## <font color='blue'>TUPLAS...</font>
---
### Trabalhando com Tuplas

In [3]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [5]:
# Imprimindo a tupla
tupla1

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [7]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

TypeError: 'tuple' object does not support item deletion

In [11]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [13]:
tupla1

'Chocolate'

In [15]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [19]:
tupla1

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [21]:
tupla1[0]

'Geografia'

In [23]:
# Verificando o comprimento da tupla
len(tupla1)

5

In [25]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [27]:
tupla1.index('Elefantes')

2

In [29]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [31]:
# Deletando a tupla
del tupla1

In [33]:
tupla1

NameError: name 'tupla1' is not defined

In [35]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [37]:
t2

('A', 'B', 'C')

In [ ]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

In [45]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [47]:
type(t2)

tuple

In [49]:
type(lista_t2)

list

In [51]:
lista_t2

['A', 'B', 'C']

In [53]:
lista_t2.append('D')

In [59]:
lista_t2

['A', 'B', 'C', 'D']

In [61]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [63]:
t2

('A', 'B', 'C', 'D')

### Funções Built-in

![Tuplas](tuplas.jpg)

## <font color='blue'>DICIONÁRIOS...</font>
---
### Trabalhando com Dicionários

![Dicionários](dicionarios.jpg)

In [103]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [105]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [107]:
type(estudantes_lst)

list

In [109]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [111]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [113]:
type(estudantes_dict)

dict

In [115]:
estudantes_dict["Pedro"]

24

In [119]:
estudantes_dict["Marcelo"] = 23

In [121]:
estudantes_dict["Marcelo"]

23

In [117]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [123]:
estudantes_dict.clear()

In [125]:
estudantes_dict

{}

In [127]:
del estudantes_dict

In [93]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [129]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [131]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [133]:
len(estudantes)

4

In [137]:
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina'])

In [139]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [141]:
estudantes.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

In [143]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [145]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [147]:
estudantes.update(estudantes2)

In [149]:
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [151]:
dic1 = {}

In [153]:
dic1

{}

In [155]:
dic1["chave_um"] = 2

In [157]:
print(dic1)

{'chave_um': 2}

In [159]:
dic1[10] = 5

In [161]:
dic1

{'chave_um': 2, 10: 5}

In [163]:
dic1[9.13] = "Python"

In [165]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [167]:
dic1["teste"] = 5

In [169]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 5}

In [171]:
dict1 = {}

In [173]:
dict1

{}

In [175]:
dict1["teste"] = 10

In [177]:
dict1["key"] = "teste"

In [181]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

{'teste': 10, 'key': 'teste'}

In [183]:
dict2 = {}

In [185]:
dict2["key1"] = "Data Science"

In [187]:
dict2["key2"] = 10

In [189]:
dict2["key3"] = 100

In [191]:
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [193]:
a = dict2["key1"]

In [201]:
a

'Data Science'

In [195]:
b = dict2["key2"]

In [203]:
b

10

In [197]:
c = dict2["key3"]

In [205]:
c

100

In [207]:
a, b, c

('Data Science', 10, 100)

In [209]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [211]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [213]:
dict3['chave2']

[22, 453, 73.4]

In [215]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

'PICANHA'

In [217]:
dict3['chave3'][1].upper()

'FRALDINHA'

In [219]:
dict3['chave3'][2].upper()

'ALCATRA'

In [225]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [227]:
var1

20

In [229]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [231]:
dict3

{'chave1': 1230,
 'chave2': [20, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

#### Criando Dicionários Aninhados

In [ ]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [ ]:
dict_aninhado

In [ ]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

### Funções Built-in

![Dicionários](dict.jpg)

## <font color='blue'>EXERCÍCIOS...</font>
---

### Exercícios sobre Tuplas

1. Faça um algoritmo que armazenará os 10 primeiros números primos acima de 100 em uma trupla. Ao final, o algoritmo deve mostrar os valores dessa estrutura de dados.

In [ ]:
 if numero < 2:

### Exercícios sobre Dicionários

2. Faça um algoritmo que carregue um dicionário de 10 elementos onde a chave é o sobrenome da pessoa e o valor a sua idade.
Após a finalização da entrada, o algoritmo deve escrever o sobrenome da pessoa com maior idade.

In [280]:
pessoas = {}
for i in range(5):
    sobrenome = input("Digite o sobrenome: ")
    idade = int(input("Digite a idade...: "))
    pessoas[sobrenome] = idade
idade = []
sobrenome = []
for s, i in pessoas.items():
    idade.append(i)
    sobrenome.append(s)
maior = max(idade)
indice_maior = idades.index(maior)
print(f"A pessoa com maior idade é {sobrenome[indice_maior]}")

Digite o sobrenome:  silva
Digite a idade...:  23
Digite o sobrenome:  sabrina
Digite a idade...:  22
Digite o sobrenome:  oliveira
Digite a idade...:  55
Digite o sobrenome:  carneiro
Digite a idade...:  60
Digite o sobrenome:  rodrigues
Digite a idade...:  56

AttributeError: 'int' object has no attribute 'index'

In [282]:
idade = []
sobrenome = []

In [284]:
for s, i in pessoas.items():
    idade.append(i)
    sobrenome.append(s)

In [286]:
maior = max
indice_maior = idades.index(maior)
print(f"A pessoa com maior idade é {sobrenome[indice_maior]}")

AttributeError: 'int' object has no attribute 'index'

3. Faça um algoritmo que carregue um dicionário contendo nome e idade (pelo menos 5 pares). Depois de carregar, mostre todos os nomes que tenham idade maior que a média das idades.

4. Faça algoritmo que carregue duas listas de cinco elementos numéricos inteiros cada um. A partir dessas duas listas, crie um conjunto da união entre essas duas listas.

## Fim da Aula 10