![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Aula 10 - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados ( Tuplas / Dicionários)</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## <font color='blue'>TUPLAS...</font>
---
### Trabalhando com Tuplas

In [ ]:
# Imprimindo a tupla
tupla1

In [ ]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [ ]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

In [ ]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

In [ ]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [ ]:
tupla1

In [ ]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [ ]:
tupla1[0]

In [ ]:
# Verificando o comprimento da tupla
len(tupla1)

In [ ]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

In [ ]:
tupla1.index('Elefantes')

In [ ]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

In [ ]:
# Deletando a tupla
del tupla1

In [ ]:
tupla1

In [ ]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [ ]:
t2

In [ ]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

In [ ]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [ ]:
type(t2)

In [ ]:
type(lista_t2)

In [ ]:
lista_t2

In [ ]:
lista_t2.append('D')

In [ ]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [ ]:
t2

### Funções Built-in

![Tuplas](tuplas.jpg)

## <font color='blue'>DICIONÁRIOS...</font>
---
### Trabalhando com Dicionários

![Dicionários](dicionarios.jpg)

In [ ]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [ ]:
estudantes_lst

In [ ]:
type(estudantes_lst)

In [ ]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [ ]:
estudantes_dict

In [ ]:
type(estudantes_dict)

In [ ]:
estudantes_dict["Pedro"]

In [ ]:
estudantes_dict["Marcelo"] = 23

In [ ]:
estudantes_dict["Marcelo"]

In [ ]:
estudantes_dict

In [ ]:
estudantes_dict.clear()

In [ ]:
estudantes_dict

In [ ]:
del estudantes_dict

In [ ]:
estudantes_dict

In [ ]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [ ]:
estudantes

In [ ]:
len(estudantes)

In [ ]:
estudantes.keys()

In [ ]:
estudantes.values()

In [ ]:
estudantes.items()

In [ ]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [ ]:
estudantes2

In [ ]:
estudantes.update(estudantes2)

In [ ]:
estudantes

In [ ]:
dic1 = {}

In [ ]:
dic1

In [ ]:
dic1["chave_um"] = 2

In [ ]:
print(dic1)

In [ ]:
dic1[10] = 5

In [ ]:
dic1

In [ ]:
dic1[9.13] = "Python"

In [ ]:
dic1

In [ ]:
dic1["teste"] = 5

In [ ]:
dic1

In [ ]:
dict1 = {}

In [ ]:
dict1

In [ ]:
dict1["teste"] = 10

In [ ]:
dict1["key"] = "teste"

In [ ]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

In [ ]:
dict2 = {}

In [ ]:
dict2["key1"] = "Data Science"

In [ ]:
dict2["key2"] = 10

In [ ]:
dict2["key3"] = 100

In [ ]:
dict2

In [ ]:
a = dict2["key1"]

In [ ]:
b = dict2["key2"]

In [ ]:
c = dict2["key3"]

In [ ]:
a, b, c

In [ ]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [ ]:
dict3

In [ ]:
dict3['chave2']

In [ ]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

In [ ]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [ ]:
var1

In [ ]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [ ]:
dict3

#### Criando Dicionários Aninhados

In [ ]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [ ]:
dict_aninhado

In [ ]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

### Funções Built-in

![Dicionários](dict.jpg)

## <font color='blue'>EXERCÍCIOS...</font>
---

### Exercícios sobre Tuplas

1. Faça um algoritmo que armazenará os 10 primeiros números primos acima de 100 em uma trupla. Ao final, o algoritmo deve mostrar os valores dessa estrutura de dados.

### Exercícios sobre Dicionários

2. Faça um algoritmo que carregue um dicionário de 10 elementos onde a chave é o sobrenome da pessoa e o valor a sua idade.
Após a finalização da entrada, o algoritmo deve escrever o sobrenome da pessoa com maior idade.

3. Faça um algoritmo que carregue um dicionário contendo nome e idade (pelo menos 5 pares). Depois de carregar, mostre todos os nomes que tenham idade maior que a média das idades.

4. Faça algoritmo que carregue duas listas de cinco elementos numéricos inteiros cada um. A partir dessas duas listas, crie um conjunto da união entre essas duas listas.

## Fim da Aula 10