![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Aula 09a - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados (Listas)</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## <font color='blue'>LISTAS...</font>
---
### Trabalhando com Listas

In [95]:
# Criando uma lista
Lista_1 = ["arroz, frango, tomate, leite"]

In [97]:
type(Lista_1)

list

In [99]:
# Imprimindo a lista
print(Lista_1)

['arroz, frango, tomate, leite']

In [101]:
# Criando outra lista
Lista_2 = ["arroz", "frango", "tomate", "leite"]

In [103]:
type(Lista_2)

list

In [105]:
# Imprimindo a lista
print(Lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [107]:
# Criando lista
Lista_3 = [23, 100, "Cientista de Dados"]

In [109]:
type(Lista_3)

list

In [111]:
# Imprimindo
print(Lista_3)

[23, 100, 'Cientista de Dados']

In [113]:
len(Lista_3)

3

In [115]:
# Atribuindo cada valor da lista a uma variável.
item1 = Lista_3[0]
item2 = Lista_3[1]
item3 = Lista_3[2]

In [117]:
# Imprimindo as variáveis
print(item1, item2, item3)

23 100 Cientista de Dados

In [119]:
item1

23

In [121]:
type(item1)

int

In [123]:
type(item3)

str

In [125]:
alunos = ['ana', 'pedro', 'maria']
notas = [9, 3.5, 6]

In [127]:
for i in range(len(alunos)):
    print(f"O(a) estudante {alunos[i]} teve nota {notas[i]}!")

O(a) estudante ana teve nota 9!
O(a) estudante pedro teve nota 3.5!
O(a) estudante maria teve nota 6!

#### Atualizando Um Item da Lista

In [130]:
Lista_2

['arroz', 'frango', 'tomate', 'leite']

In [132]:
# Imprimindo um item da lista
Lista_2[2]

'tomate'

In [155]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [136]:
# Imprimindo lista alterada
lista_2

['arroz', 'frango', 'chocolate', 'leite']

#### Deletando Um Item da Lista

In [151]:
lista_2

['arroz', 'frango', 'chocolate']

In [153]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_2[4]

IndexError: list assignment index out of range

In [143]:
# Deletando um item específico da lista
del lista_2[3]

In [ ]:
# Imprimindo o item com a lista alterada
lista_2

#### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [159]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [161]:
# Imprimindo a lista
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [163]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [165]:
listas[0][1]

2

In [ ]:
a

In [ ]:
b = a[0]

In [ ]:
b

In [ ]:
list1 = listas[1]

In [ ]:
list1

In [ ]:
valor_1_0 = list1[0]

In [ ]:
valor_1_0

In [ ]:
valor_1_2 = list1[2]

In [ ]:
valor_1_2

In [ ]:
list2 = listas[2]

In [ ]:
list2

In [ ]:
valor_2_0 = list2[0]

In [ ]:
valor_2_0

#### Operações com Listas

In [ ]:
# Criando uma lista aninhada (lista de listas - Matrizes)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [ ]:
listas

In [ ]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [ ]:
a

In [ ]:
b = listas[1][2]

In [ ]:
b

In [ ]:
c = listas[0][2] + 10

In [ ]:
c

In [ ]:
d = 10

In [ ]:
d

In [ ]:
e = d * listas[2][0]

In [ ]:
e

In [167]:
lista_2

['arroz', 'frango', 'chocolate']

In [169]:
lista_3 = ["Batata", "Cenoura", "Beterraba"]

In [171]:
lista_3

['Batata', 'Cenoura', 'Beterraba']

In [173]:
lista = lista_2 + lista_3

In [175]:
lista

['arroz', 'frango', 'chocolate', 'Batata', 'Cenoura', 'Beterraba']

In [179]:
for alimento in lista: 
    print(alimento)

arroz
frango
chocolate
Batata
Cenoura
Beterraba

#### Concatenando Listas

In [ ]:
lista_s1 = [34, 32, 56]

In [ ]:
lista_s1

In [ ]:
lista_s2 = [21, 90, 51]

In [ ]:
lista_s2

In [ ]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [ ]:
lista_total

### Operador in

In [181]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [183]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [185]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in

In [ ]:
lista_s1.

![Listas](listas.jpg)

In [187]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [189]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [191]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

50

In [193]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

-3.4

In [195]:
# Criando uma lista
lista_formacoes_dados = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [197]:
lista_formacoes_dados

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [ ]:
lista_formacoes_dados.

In [199]:
# Adicionando um item à lista
lista_formacoes_dados.append("Engenheiro de IA")

In [201]:
lista_formacoes_dados

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [203]:
lista_formacoes_dados.append("Engenheiro de IA")

In [205]:
lista_formacoes_dados

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [207]:
lista_formacoes_dados.count("Engenheiro de IA")

2

In [209]:
lista_formacoes_dados.remove("Engenheiro de IA")

In [213]:
lista_formacoes_dados

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [ ]:
# Criando uma lista vazia
a = []

In [ ]:
print(a)

In [ ]:
type(a)

In [ ]:
a.append(10)

In [ ]:
a

In [ ]:
a.append(50)

In [ ]:
a

In [ ]:
old_list = [1,2,5,10]

In [ ]:
new_list = []

In [ ]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [ ]:
lista = []
while True:
    n = int(input("Digite um valor (-1 para sair): "))
    if n == -1:
        break
    lista.append(n)

print(lista)

In [ ]:
new_list

In [223]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [225]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [219]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [231]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [233]:
cidades.insert(2, 110)

In [235]:
cidades

['Recife', 'Manaus', 110, 110, 'Salvador', 'Fortaleza', 'Palmas']

In [239]:
# Remove um item da lista
cidades.remove(110)

In [241]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [243]:
# Reverte a lista
cidades.reverse()

In [245]:
# Imprime a lista
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [247]:
x = [3, 4, 2, 1]

In [249]:
x

[3, 4, 2, 1]

In [251]:
# Ordena a lista
x.sort()

In [253]:
x

[1, 2, 3, 4]

## <font color='blue'>EXERCÍCIOS...</font>
---
### Exercícios sobre Listas

1. Faça um algoritmo que carregue um vetor de 10 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o mesmo vetor, na ordem inversa de entrada.

2. Faça um algorimto que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o maior valor e sua posição.

3. Faça algoritmo que carregue dois vetores (listas) de cinco elementos numéricos cada um e mostre um vetor resultante na intercalação desses dois vetores

In [ ]:
# Exemplo de geração de números aleatórios (randômicos) entre 1 e 60
from random import randint
a = randint(1, 60)
print(a)

In [ ]:
# Exemplo de geração de 10 jogadas de dados
from random import randint
# Gerando 10 jogadas
for i in range (0,10):
    lado = randint(1, 6)
    print(lado, end=" ")

4. Faça um Algoritmo que simule 6000 jogadas de um dado de 6 faces. Para simular o resultado utilize a função randint  Ao final, mostre a frequência de sorteio de cada uma das faces

5. Faça um algoritmo que simule a jogada de dois dados de 6 faces. O programa deve usar randint para rolar o primeiro dado e deve usar randint novamente para rolar o segundo dado. A soma das duas faces deve ser calculada. Assim: a soma variará de 2 a 12. O programa deve rolar 30.000 vezes e mostrar a frequência com que a soma (de 2 a 12) aparecem.  Verifique se o valor 7 corresponde a 1/6 das jogadas!

6. Faça um algoritmo que leia uma matriz 2x2 e imprima os seus elementos na ordem:

1,1 =

1,2 =

2,1 =

2,2 =

Obs: linha, coluna

7. Faça um algoritmo que leia os dados de uma matriz de 4 linhas e 4 colunas, composta de elementos reais, e calcule a soma dos elementos da diagonal principal da matriz.

8. Faça um algoritmo que receba uma matriz de 5x5 com números reais. Ao final o algoritmo deve calcular e mostrar a média dos elementos que estão nas linhas pares da matriz.

## Fim da Aula 09a